.stepsContent {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.stepContent {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  margin: 20px 0;
}

.pane {
  flex-grow: 1;
}

.radioWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 20px;
}

.stepsButtons {
  display: flex;
  justify-content: space-between;
}

.editButtons {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.buttonNext {
  margin-left: auto;
}

.input {
  width: 100%;
}

.nftsWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  margin-bottom: 24px;

  img {
    width: 40px;
  }
}