.h2 {
  text-align: center;
}

.withdrawBlock {
  margin: 0 auto 16px;
}

.settingsBlock {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  gap: 16px;
}

.chartWrapper {
  margin-top: 16px;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;

  button {
    width: 186px;
  }
}

.chart {
  margin-top: 16px;
  background: #0f1720;
  border: 1px solid #23303d;
  border-radius: 20px;
  padding: 25px 15px 25px 0;
}
