.collectionTabsWrapper {
  margin-top: 16px;
  margin-bottom: 24px;

  :global {
    .ant-tabs-nav {
      height: 67px;
      margin: 0 !important;
      border-width: 1px 0;
      border-style: solid;
      border-color: var(--border-color-base);

      &::before {
        border: 0 !important;
      }
    }

    .ant-tabs-nav-list {
      column-gap: 16px;
    }

    .ant-tabs-tab {
      width: 105px;
      justify-content: center;

      &:not(.ant-tabs-tab-active) {
        span {
          transition: var(--button-transition);
        }

        &:hover {
          opacity: var(--button-hover-opacity);
        }
      }

      & + .ant-tabs-tab {
        margin: 0;
      }
    }

    .ant-tabs-tab-btn {
      font-weight: 500;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: var(--blue-color);

      span {
        color: var(--blue-color);
      }
    }

    .ant-tabs-ink-bar {
      background: var(--blue-color);
    }
  }
}

.poolButton {
  padding: 8px 16px;
}

.tabButton {
  display: flex;
  align-items: center;
}

.tabInfoWrapper {
  height: 22px;
  padding: 4px 6px;
  margin-left: 8px;
  border-radius: 100px;
  background: var(--component-base-background);
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}

.tabInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
}
