.h2 {
  text-align: center;
}

.collectionTabsWrapper {
  :global {
    .ant-tabs-nav {
      height: 67px;
      margin: 0 !important;
      border-width: 1px 0;
      border-style: solid;
      border-color: var(--border-color-base);

      &::before {
        border: 0 !important;
      }

      @media screen and (max-width: 1024px) {
        height: 59px;
      }
    }

    .ant-tabs-nav-list {
      column-gap: 16px;
    }

    .ant-tabs-tab {
      width: 105px;
      justify-content: center;

      &:not(.ant-tabs-tab-active) {
        span {
          transition: var(--button-transition);
        }

        &:hover {
          opacity: var(--button-hover-opacity);
        }
      }

      & + .ant-tabs-tab {
        margin: 0;
      }

      @media screen and (max-width: 1024px) {
        width: 72px;
        font-size: 12px;

        &:nth-child(5) {
          display: none !important;
        }
      }
    }

    .ant-tabs-tab-btn {
      font-weight: 500;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: var(--blue-color);

      span {
        color: var(--blue-color);
      }
    }

    .ant-tabs-ink-bar {
      background: var(--blue-color);
    }
  }
}

.tabButton {
  display: flex;
  align-items: center;
}

.tabInfoWrapper {
  height: 22px;
  padding: 4px 6px;
  margin-left: 8px;
  border-radius: 100px;
  background: var(--component-base-background);
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;

  @media screen and (max-width: 1024px) {
    height: 20px;
    padding: 4px;
    font-size: 10px;
  }
}

.tabInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;

  @media screen and (max-width: 1024px) {
    min-width: 31px;
  }
}

.tabContentWrapper {
  margin-top: 24px;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(158px, 1fr));
  gap: 16px;
  align-items: stretch;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
  }
}

.activityTable {
  margin-top: 16px;
  :global {
    .ant-table-tbody > tr.ant-table-row:hover > td {
      background: unset;
    }

    .ant-table-tbody > tr.ant-table-row > td:hover {
      background: var(--table-active-element);
    }

    .ant-table-tbody > tr.ant-table-row > td.disabled-cell-hover:hover {
      background: unset;
      cursor: default;
    }
  }
}

.sortWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
