.withdrawCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.withdrawInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.withdrawTitle {
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: var(--dark-grey-color);
}

.withdrawValue {
  margin-top: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.withdrawButton {
  width: 128px;
}
