.infoBlock {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionsContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.nftCard {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-bottom: 20px;
}
