.root {
  width: 100%;
  background: #0f1720;
  border: 1px solid #23303d;
  border-radius: 20px;
  padding-top: 30px;
  margin-top: 16px;
  padding: 25px 15px 25px 0;

  .title {
    text-align: center;
    color: var(--white-color);
    font: 500 24px var(--font-family-rubik);
    margin-bottom: 16px;
  }

  :global {
    .xAxis {
      .tick {
        text {
          fill: #535b5f;
          font-size: 14px;
        }
      }
    }
    .yAxis {
      .tick {
        line {
          stroke: #23303d;
        }
        text {
          fill: #535b5f;
          font-size: 14px;
        }
      }
    }
    .chart-path {
      stroke: #257cff;
      stroke-width: 2;
      stroke-linejoin: round;
      fill: none;
    }
    .linear-gradient {
      stop:first-child {
        stop-color: rgba(37, 124, 255, 0.4);
        offset: 0%;
      }
      stop:last-child {
        stop-color: rgba(37, 124, 255, 0);
        offset: 100%;
      }
    }
    .point-buy {
      fill: #25ff6f;
      stroke: #257cff;
    }
    .point-sell {
      fill: #ff3225;
      stroke: #257cff;
    }
    & text {
      color: #fff;
    }
  }
}
