.wrapper {
  width: 100%;
  display: flex;
  align-items: center;

  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--primary-white-color);

  @media (max-width: 480px) {
    flex-flow: wrap;
  }
}

.label {
  width: 100%;
  padding: 11px;
  border: var(--border-base);
  border-right: 0;
  cursor: pointer;

  @media (max-width: 480px) {
    border: var(--border-base);
    border-bottom-width: 0;
  }

  &:first-child {
    border-radius: 20px 0 0 20px;

    @media (max-width: 480px) {
      border-radius: 20px 20px 0 0;
    }
  }

  &:last-child {
    border-radius: 0 20px 20px 0;
    border-right: var(--border-base);

    @media (max-width: 480px) {
      border-radius: 0 0 20px 20px;
      border-bottom-width: unset;
    }
  }
}

.checked {
  color: var(--blue-color);
  outline: 1px solid var(--blue-color);
  outline-offset: -1px;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

input[type='radio'] {
  appearance: none;
  background-color: transparent;
  margin: 0;
}
