.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 16px;
}

.content {
  padding: 20px 40px;
  border-radius: var(--border-radius-base);
  background-color: var(--primary-background-color);
}

.title {
  text-align: center;
  color: var(--primary-white-color);
  margin-bottom: 24px;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.errorMessage {
  background: var(--white-color);
  overflow-y: auto;
  max-height: 200px;
  margin-bottom: 16px;
  border: 1px dashed var(--gray-color-2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  white-space: pre-wrap;
  color: var(--text-color);

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}
