.stepsButtonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 24px 0;
}

.poolTypeWidget {
  min-width: 318px;
  text-align: center;
  cursor: pointer;

  &.active {
    border-color: var(--blue-color);
  }
}

.poolTypeBadges {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
}

.poolTypeTitle {
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.settingsBlockWrapper {
  width: 100%;
}

.settingsBlock {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  gap: 16px;
}

.settingsButtonsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.chart {
  margin-top: 16px;
  background: #0f1720;
  border: 1px solid #23303d;
  border-radius: 20px;
  padding: 25px 15px 25px 0;
}
