.stepsButtonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 24px 0;
}

.stepButton {
  padding: 8px 16px;
  border: var(--border-base);
  border-radius: var(--border-radius-base);
  background: var(--component-base-background);

  span {
    font-family: var(--font-family-rubik);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.stepButtonDisabled {
  opacity: .7;
  cursor: not-allowed;
}

.stepButtonInvisible {
  visibility: hidden;
}

.poolTypeWidget {
  min-width: 318px;
  text-align: center;
  cursor: pointer;

  &.active {
    border-color: var(--blue-color);
  }

  @media (max-width: 1080px) {
    min-width: 229px;
  }

  @media (max-width: 767px) {
    min-width: unset;
    width: 100%;
  }
}

.poolTypeBadges {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
}

.combineBadges {
  position: relative;
  width: 100px;

  .nftBadge {
    position: absolute;
    top: 0;
    left: 44px;
  }
}

.poolTypeTitle {
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  @media (max-width: 1080px) {
    font-size: 18px;
  }
}

.settingsBlockWrapper {
  width: 100%;
}

.settingsBlock {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  gap: 16px;
}

.settingsButtonsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.chartWrapper {
  margin-top: 16px;
}

.cards {
  display: flex;
  gap: 16px;

  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
  }
}
