.stepsButtonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 24px 0;
}

.stepButton {
  padding: 8px 16px;
  border: var(--border-base);
  border-radius: var(--border-radius-base);
  background: var(--component-base-background);

  span {
    font-family: var(--font-family-rubik);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.stepButtonDisabled {
  opacity: .7;
  cursor: not-allowed;
}

.stepButtonInvisible {
  visibility: hidden;
}

.poolTypeWidget {
  min-width: 318px;
  text-align: center;
  cursor: pointer;

  &.active {
    border-color: var(--blue-color);
  }
}

.poolTypeBadges {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
}

.combineBadges {
  position: relative;
  width: 100px;

  .nftBadge {
    position: absolute;
    top: 0;
    left: 44px;
  }
}

.poolTypeTitle {
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.settingsBlockWrapper {
  width: 100%;
}

.settingsBlock {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  gap: 16px;
}

.settingsBlockPriceWrapper {
  flex-grow: 1;
  height: 100%;
}

.settingsBlockAssetsWrapper {
  max-width: 682px;
  min-width: 520px;
  height: 100%;
}

.settingsBlockCard {
  padding: 24px;
  border-radius: 20px;
}

.settingsBlockAssets {
  height: calc(100% - 56px);

  :global {
    .ant-form {
      height: 100%;
      overflow: hidden;
    }
  }
}

.settingsBlockTitle {
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.settingsBlockSubTitle {
  :global {
    .anticon {
      margin-left: 5px;

      svg {
        width: 12px;
      }
    }
  }
}

.settingsBlockSubTitle,
.settingsBlockText {
  margin: 16px 0 8px 0;
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.settingBlockNftsWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  width: calc(100% + 16px);
  height: calc(100% - 50px);
  margin-top: 16px;
  overflow-y: scroll;
}

.nftCard {
  max-width: 146px;
}

.settingsBlockText {
  font-weight: 400;
}

.pairButtonsWrapper {
  button {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.createPoolButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.chartWrapper {
  margin-top: 16px;
}
