.cartSider {
  position: sticky;
  top: 0;
  width: 0;
  height: 100vh;
  z-index: 1;
  transition: width var(--base-animation-time);
}

.openCart {
  width: var(--cart-sider-width);
  transform: translateX(-1px);
  border-left: var(--border-base);
}

.badgeButton {
  width: 36px !important;
  height: 36px !important;
}

.toggleCartSiderBtn {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  left: -37px;

  &.opened {
    left: -30px;
  }
}

.toggleCartSiderBtnHidden {
  visibility: hidden;
}

.cartBody {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &.expandBody {
    width: var(--cart-sider-width);
    padding: 16px;
  }
}

.cartSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.cartTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartItems {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cartItemsInvalid {
  opacity: .6;
}

.submitWrapper {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.card {
  overflow: hidden;
  border-radius: var(--border-radius-small);
  border: var(--border-base);
  display: flex;
  height: 64px;
}

.cardImage {
  height: 100%;
  display: block;
  object-fit: cover;
}

.cardContent {
  flex-grow: 1;
  padding: 8px;
  overflow: hidden;
}

.cardTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0 !important;
  text-align: left;
}

.cardPrice {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-weight: 700;
}

.btnWrapper {
  display: flex;
  align-items: center;
  padding-right: 12px;

  button {
    border: 2px solid var(--border-color-base);

    svg {
      fill: var(--border-color-base);
    }

    &:hover {
      svg {
        fill: #6d8aad;
      }
    }
  }
}