.cartSider {
  position: sticky;
  top: var(--header-height-desktop);
  right: 0;
  width: 0;
  height: calc(100vh - var(--header-height-desktop));
  border-left: var(--border-base);
  transform: translateX(1px);
  background: var(--component-secondary-background);
  z-index: 3;
  transition: width var(--base-animation-time);
}

.openCart {
  display: flex;
  flex-direction: column;
  width: var(--cart-sider-width);
}

.cartBody {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: -16px;
  padding: 32px 0 0 32px;
}

.submitWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px;
  width: 260px;

  button {
    width: 100%;
  }
}
