.cartSider {
  position: sticky;
  top: var(--header-height-desktop);
  right: 0;
  width: 0;
  height: calc(100vh - var(--header-height-desktop));
  border-left: var(--border-base);
  transform: translateX(1px);
  background: var(--component-secondary-background);
  z-index: 1;
  transition: width var(--base-animation-time);
}

.openCart {
  width: var(--cart-sider-width);
}

.cartBody {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 80px - 64px - 16px);
  width: calc(100% + 16px);
  padding: 32px 0 0 32px;
}

.submitWrapper {
  margin: 32px;
  width: 260px;

  button {
    width: 100%;
  }

  button:first-child {
    margin-bottom: 16px;
  }
}
