.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height-mobile);
  padding: 0 16px;
  border-bottom: 1px solid var(--border-color-base);
  background: var(--component-secondary-background);
}

.logoWrapper {
  display: flex;
}

.logoLink {
  display: flex;
}

.logoIcon {
  width: 115px;
}

.homeButton {
  margin: 0 24px;

  @media screen and (max-width: 768px) {
    margin: 0 16px;
  }
}

.buttonsWrapper {
  display: flex;
}

.menuBtnWrapper {
  display: flex;
  align-items: center;
  width: 25px;
  margin-left: 16px;
}

.modalMenu {
  border: 0;
  border-radius: 0;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 54px 0 36px;
  row-gap: 24px;
}

.navLink {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.navLinkActive {
  color: var(--primary-color);
}
