.sortWrapper {
  width: 136px;
}

.sortModal {
  border: var(--border-base);
  border-radius: 12px;
  background: var(--component-base-background);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  right: 0;
  width: 184px;
  height: 240px;
  z-index: 1;
}

.sortButton {
  border: 0;
  border-radius: 0;

  > span {
    display: flex;
    align-items: center;
  }

  &:hover {
    background: var(--border-color-base);
    opacity: 1 !important;
  }

  &:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.arrowUp,
.arrowDown {
  height: 13px;

  path {
    fill: var(--primary-white-color);
  }
}

.arrowUp {
  transform: rotate(-90deg);
}

.arrowDown {
  transform: rotate(90deg);
}

.activeSortButton {
  background: var(--border-color-base);
}

.blackButton {
  min-width: 136px;
}
