.rootButton {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: var(--button-transition);

  &:not(.active, .disabled):hover {
    opacity: var(--button-hover-opacity);
  }
}

.button {
  height: 40px;
  padding-inline: 15px;
  border-radius: var(--border-radius-base);
  background-color: var(--blue-color);

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--font-family-rubik);
    letter-spacing: 0.02em;
  }

  @media screen and (max-width: 768px) {
    height: 38px;

    span {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.invisible {
  visibility: hidden;
}

.outlined {
  border: 1px solid;
  border-color: var(--blue-color);
  background-color: var(--transparent-color);

  span {
    color: var(--blue-color);
  }

  &:not(.disabled):hover {
    background: var(--button-hover-outline);
  }
}

.roundIconWrapper {
  width: 40px;
  height: 40px;
  border: var(--border-base);
  border-radius: 50%;
  background: var(--component-base-background);

  a {
    display: flex;
  }

  @media screen and (max-width: 1024px) {
    width: 38px;
    height: 38px;

    svg {
      width: 16px;
    }
  }
}

.badgeButtonWrapper {
  position: relative;
  width: 40px;
  margin: auto;
}

.badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20%;
  right: -15%;
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  background-color: var(--red-color);
  border: 1px solid var(--component-secondary-background);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  z-index: 1;
}

.pairButtonsWrapper {
  display: flex;
}

.pairButtonLeft,
.pairButtonRight {
  flex-grow: 1;
  height: 40px;
  border-style: solid;
  border-color: var(--border-color-base);
  background: var(--component-third-background);

  &.active {
    border-color: var(--blue-color);
    color: var(--blue-color);
  }
}

.pairButtonLeft {
  border-width: 1px 0 1px 1px;
  border-radius: 20px 0 0 20px;
}

.pairButtonRight {
  border-width: 1px 1px 1px 0;
  border-radius: 0 20px 20px 0;
}

.separator {
  width: 1px;
  height: 40px;
  background: var(--border-color-base);

  &.active {
    background: var(--blue-color);
  }
}

.blackButton {
  height: 40px;
  padding: 8px 16px;
  border: var(--border-base);
  border-radius: var(--border-radius-base);
  background: var(--component-base-background);

  span {
    font-family: var(--font-family-rubik);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.swapButtonWrapper {
  display: flex;
  justify-content: center;
}

.swapButton {
  height: 38px;
  width: 80px;

  span {
    margin-left: 4px;
    font-size: 14px;
  }

  svg {
    height: 20px;
    min-width: 20px;

    path {
      fill: var(--blue-color);
    }
  }
}

.notConnectedBtn {
  cursor: not-allowed;
  border-color: var(--disabled-outline-color);

  svg > path {
    fill: var(--disabled-outline-color);
  }

  span {
    color: var(--disabled-outline-color);
  }

  &:hover {
    background: unset;
  }
}
