.rootButton {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: var(--button-transition);

  &:not(.active):hover {
    opacity: var(--button-hover-opacity);
  }
}

.button {
  height: 40px;
  padding: 8px 10px;
  border-radius: var(--border-radius-base);
  background-color: var(--blue-color);

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--font-family-rubik);
  }
}

.disabled {
  opacity: .7;
  cursor: not-allowed;
}

.invisible {
  visibility: hidden;
}

.outlined {
  border: 1px solid;
  border-color: var(--blue-color);
  background-color: var(--transparent-color);

  span {
    color: var(--blue-color);
  }
}

.roundIconWrapper {
  width: 40px;
  height: 40px;
  border: var(--border-base);
  border-radius: 50%;
}

.badgeButtonWrapper {
  position: relative;
  width: 40px;
  margin: auto;
}

.badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20%;
  right: -15%;
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  background-color: var(--red-color);
  border: 1px solid var(--component-secondary-background);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  z-index: 1;
}

.pairButtonsWrapper {
  display: flex;
}

.pairButtonLeft,
.pairButtonRight {
  flex-grow: 1;
  height: 40px;
  border-style: solid;
  border-color: var(--border-color-base);
  background: var(--component-third-background);

  &.active {
    border-color: var(--blue-color);
    color: var(--blue-color);
  }
}

.pairButtonLeft {
  border-width: 1px 0 1px 1px;
  border-radius: 20px 0 0 20px;
}

.pairButtonRight {
  border-width: 1px 1px 1px 0;
  border-radius: 0 20px 20px 0;
}

.separator {
  width: 1px;
  height: 40px;
  background: var(--border-color-base);

  &.active {
    background: var(--blue-color);
  }
}

.blackButton {
  height: 40px;
  padding: 8px 16px;
  border: var(--border-base);
  border-radius: var(--border-radius-base);
  background: var(--component-base-background);

  span {
    font-family: var(--font-family-rubik);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
