button.root {
  display: flex;
  align-items: center;
  height: 40px;
  border-color: var(--primary-color);
  font-size: 16px;
  color: var(--primary-color);

  &:hover {
    background: rgba(157, 202, 255, 0.3);
  }
}
