.mobileButtonsWrapper {
  display: flex;
  flex-direction: column;
}

.button {
  @media screen and (max-width: 1024px) {
    width: 150px;
    height: 38px;

    span {
      font-size: 14px;
      line-height: 17px;
    }

    svg {
      width: 18px;
    }
  }
}

.outlinedButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  span {
    margin-left: 11px;
  }
}

.walletIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.chevronIcon {
  width: 14px;
  margin-left: 15px;

  path {
    fill: var(--blue-color);
  }
}
