.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 1px solid var(--primary-white-color);
  border-radius: 12px;
  background: var(--blue-color);

  span {
    font-family: var(--font-family-rubik);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }
}
