.tableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 16px;
}

.table {
  width: 100%;
  cursor: pointer;
}

span.searchInput {
  max-width: 520px;
  border: var(--border-base);
  border-radius: 10px;
  font-weight: 400;
  background: var(--primary-background-color) !important;

  svg {
    fill: var(--inactive-color);
  }

  input {
    color: var(--primary-white-color);
  }

  &:focus,
  &:focus-visible {
    color: var(--white-color);
  }
}

.sortingBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 40px;
  margin-left: 10px;
  padding: 0 16px;
  border: var(--border-base);
  border-radius: 20px;
  background: var(--primary-background-color);
  color: var(--primary-white-color);
}