.controlsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 16px;

  :global {
    .ant-input-affix-wrapper {
      max-width: 520px;

      svg {
        fill: var(--inactive-color);
      }
    }
  }
}
