.wrapper {
  display: inline-flex;
  flex-grow: 1;
  max-width: 550px;
  padding: 24px;
  border: var(--border-base);
  border-radius: var(--border-radius-base);
  background: var(--component-base-background);
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  margin-left: 16px;
}
