.layoutWrapper {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  overflow-x: clip;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
}

.main {
  position: relative;
  padding: 0 var(--body-horizontal-padding);
  margin-bottom: 32px;

  @media screen and (max-width: 1024px) {
    padding: 0 24px;
    margin-bottom: 24px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 16px;
    margin-bottom: 16px;
  }
}
