.header {
  display: flex;
}

.content {
  position: relative;
  min-height: 280px;
  padding: 24px 50px;
}

.logo {
  margin-right: 16px;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  padding: 0 12px;
  transition: background var(--ease-base-out) var(--animation-duration-slow);
  font-size: 16px;
  &:hover,
  &:active {
    background: var(--primary-color);
  }
}
.navLinkActive {
  background: var(--primary-color);
}

.navRight {
  display: flex;
  align-items: center;
}

.connectBtn {
  margin-left: 16px;
}

.cartSider {
  height: 100vh;
  position: sticky !important;
  top: 0;
  left: 0;
}

.cartItems {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.toggleCartSiderBtn {
  position: absolute !important;
  top: unset;
  bottom: 20%;
  left: -40px;
}

.footer {
  text-align: center;
}

.siderContent {
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardsSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.submitWrapper {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.card {
  background: var(--ant-gray);
  display: flex;
  height: 64px;
}

.cardImage {
  height: 100%;
  display: block;
  object-fit: cover;
}

.cardContent {
  padding: 8px;
}

.cardTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0 !important;
}

.cardPrice {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-weight: 700;
}

.btnWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
}
