.contentWrapper {
  width: 100%;
  margin-top: 24px;

  @media screen and (min-width: 1025px) {
    margin-top: 56px;
  }
}

.pageTitle {
  margin-bottom: 32px;
  text-align: center;
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
}
