.image {
  display: none;
  width: 100%;
  object-fit: cover;
}

.imageVisible {
  display: block;
}

.placeholder {
  display: block;
  width: 100%;
  object-fit: cover;
  animation-name: flashPlaceholder;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

.placeholderHidden {
  display: none;
}

@keyframes flashPlaceholder {
  0% {
    opacity: .3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}
