.modalWrapper {
  position: fixed;
  top: var(--header-height-mobile);
  left: 0;
  width: 100%;
  height: calc(100vh - var(--header-height-mobile) + 1px);
  padding: 16px;
  text-align: center;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: var(--border-color-base);
  border-radius: 20px 20px 0 0;
  background-color: var(--secondary-background-color);
  color: var(--primary-white-color);
  overflow-y: scroll;
  z-index: 11;

  & > div {
    width: 100%;
  }
}

.stopScroll {
  overflow: hidden;
}
