:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --ant-gray: #9dcaff1c;

  --font-family-roboto: 'Roboto', sans-serif;

  //? Antd variables copy
  //? Full list here (https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less)
  --primary-color: #9dcaff;
  --primary-white-color: #e3e2e5;
  --primary-background-color: #282f37;
  --secondary-background-color: #242a30;
  --inactive-color: #8e9197;
  --link-color: #1890ff; // link color
  --success-color: #52c41a; // success state color
  --warning-color: #faad14; // warning state color
  --error-color: #f5222d; // error state color
  --heading-color: #1a1c1e; // heading text color
  --text-color: rgba(0, 0, 0, 0.65); // major text color
  --text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
  --disabled-color: rgba(0, 0, 0, 0.25); // disable state color
  --border-color-base: #3e4854; // major border color
  --box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers

  // other
  --font-size-base: 14px; // major text font size
  --border-radius-base: 20px; // major border radius
  --border-radius-small: 10px; // major border radius
  --header-height-mobile: 56px;
  --border-base: 1px solid var(--border-color-base);
  --base-animation-time: .5s;

  // components
  --cart-sider-width: 320px;
  --cart-sider-pocket-mode-height: calc(100% - 68px);

  // Animation
  --ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
  --ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
  --ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  --ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --animation-duration-slow: 0.3s; // Modal
  --animation-duration-base: 0.2s;
  --animation-duration-fast: 0.1s; // Tooltip
}
