.cardWrapper {
  width: 100%;
  padding: 16px;
  border: var(--border-base);
  border-radius: 20px;
  background: var(--secondary-background-color);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }

  span {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}

.cardBody {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.listItem {
  span {
    font-weight: 400;
    color: var(--primary-white-color);
  }

  & > span:nth-child(1) {
    font-weight: 700;
    color: var(--inactive-color);
  }
}
