.pocketModal {
  top: var(--cart-sider-pocket-mode-position);
  border-width: 1px 1px 0 1px;
}

.payRoyalty {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .value {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #E3E2E5;
  }

  & .label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #535B5F;
  }

  & svg {
    width: 18px;
    height: 18px;
  }
}

.cartInner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: clip;
}

.mt {
  margin-top: 15px;
}

.cartBody {
  flex-grow: 1;
  height: 1px;
  overflow-y: scroll;

  @media screen and (max-width: 1024px) {
    width: calc(100% + 16px);
  }
}

.showModalToHeader {
  top: var(--header-height-mobile);
  animation: showToHeader var(--base-animation-time);
}

.showModalToTop {
  top: 0;
  height: calc(100vh + 1px);
  animation: showToTop var(--base-animation-time);
}

.hideModalfromHeader {
  animation: hideFromHeader var(--base-animation-time);
}

.hideModalfromTop {
  height: 100vh;
  animation: hideFromTop var(--base-animation-time);
}

@keyframes showToHeader {
  0% {
    top: var(--cart-sider-pocket-mode-position);
  }
  100% {
    top: var(--header-height-mobile);
  }
}

@keyframes showToTop {
  0% {
    top: var(--cart-sider-pocket-mode-position);
  }
  100% {
    top: 0;
  }
}

@keyframes hideFromHeader {
  0% {
    top: var(--header-height-mobile);
  }
  100% {
    top: var(--cart-sider-pocket-mode-position);
  }
}

@keyframes hideFromTop {
  0% {
    top: 0;
  }
  100% {
    top: var(--cart-sider-pocket-mode-position);
  }
}

.badgeButtonWrapper {
  margin-bottom: 16px;
}

.badgeButton {
  background-color: var(--blue-color);
}

.submitWrapper {
  margin-top: 16px;

  button {
    width: 100%;
    margin-bottom: 16px;
  }
}

