.statsWrapper {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  margin-bottom: 80px;

  @media (max-width: 767px) {
    column-gap: 16px;
  }
}

.statsBlock {
  position: relative;
  min-width: 240px;
  text-align: center;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    width: 1px;
    height: 100%;
    background: var(--border-color-base);
    @media (max-width: 767px) {
      right: -7px;
    }
  }

  @media (max-width: 1024px) {
    min-width: 224px;
  }

  @media (max-width: 767px) {
    min-width: 107px;
  }
}

.statsLabel {
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--dark-grey-color);

  @media (max-width: 1024px) {
    font-size: 20px;
  }

  @media (max-width: 767px) {
    font-size: 10px;
  }
}

.statsPriceBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;

  @media (max-width: 767px) {
    margin-top: 0;

    svg {
      width: 16px;
    }
  }
}

.statsNumber {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;

  @media (max-width: 1024px) {
    font-size: 28px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.topMarketsTitle {
  text-align: center;
  font-family: var(--font-family-rubik);
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}

.topMarkets {
  padding: 32px 0;
  margin-bottom: -32px;
  width: 100%;
  gap: 16px;
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: scroll;
    &::-webkit-scrollbar {
      appearance: none;
      -webkit-appearance: none;
      height: 4px;
    }
    &::-moz-scrollbar {
      appearance: none;
      -moz-appearance: none;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--component-base-background);
    }
    &::-moz-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--component-base-background);
    }
  }
}

.marketCardWrapper {
  display: flex;
  flex-direction: column;
  width: 254px;
  border: var(--border-base);
  border-radius: 16px;
  background: var(--component-base-background);
  overflow: hidden;
  cursor: pointer;
  @media (max-width: 767px) {
    width: 224px;
  }
  @media (max-width: 374px) {
    width: 138px;
  }
}

.marketImageWrapper {
  flex-grow: 0;
}

.marketImage {
  width: 100%;
  height: 100%;
}

.marketInfo {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.marketInfoTitle {
  flex-grow: 1;
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.marketInfoPriceLogo {
  width: 16px;
}

.marketInfoPrice {
  margin-top: 4px;

  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.volume {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  color: var(--dark-grey-color);

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.volumeValue {
  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;

  color: var(--green-color);
  @media (max-width: 767px) {
    font-size: 10px;
    position: absolute;
    top: 25%;
    right: -10%;
  }
}
