.modal {
  :global {
    @media (max-width: 767px) {
      position: fixed !important;
      bottom: 0;
      top: unset !important;
      left: 0;
      right: 0;
      margin: 0 !important;
      max-width: unset !important;
      width: 100% !important;
    }
    .ant-modal-content {
      height: 760px;
      @media (max-width: 767px) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 665px;
      }
    }
    .ant-modal-body {
      @media (max-width: 767px) {
        padding: 16px;
      }
    }
    .ant-tabs-nav-list {
      margin-right: 45px;
    }
    .ant-modal-close {
      top: 25px;
    }
  }
}

.header {
  height: 67px;
  position: relative;
  max-width: 100%;

  @media (max-width: 767px) {
    height: 59px;
  }
}

.title {
  position: absolute;
  color: var(--primary-white-color);
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 20px;
  top: 20px;
}

.tabs {
  :global {
    .ant-tabs-content {
      margin-top: 24px;

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }
    .ant-tabs-nav-wrap {
      height: 67px;
      justify-content: flex-end !important;

      @media screen and (max-width: 768px) {
        height: 59px;
      }
    }
    .ant-tabs-tab {
      width: 105px;
      justify-content: center;
      margin: 0 !important;

      @media (max-width: 767px) {
        width: 72px;
      }
    }
    .ant-tabs-nav-list {
      border-bottom: 1px solid var(--border-color-base);
    }
    .ant-tabs-ink-bar {
      bottom: -1px !important;
    }
  }
}
