.root {
  display: flex;
  gap: 56px;
  margin: 27px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #e3e2e5;
}

.amount {
  font: var(--font-family-rubik);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;

  color: #e3e2e5;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.buy {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sell {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slider {
  width: 100%;
  max-width: 300px;
  margin: 0 18px !important;

  :global {
    .ant-slider {
    }
  }
}
.value {
  font-size: 16px;
}
