.header {
  border-bottom: var(--border-base);
}

.infoBlock,
.main {
  display: flex;
  align-items: center;
  padding: 0 var(--body-horizontal-padding);
}

.infoBlock {
  height: 32px;
  background: var(--component-base-background);
}

.main {
  height: 64px;
  background: var(--component-secondary-background);
}

.logoSearchWrapper {
  display: flex;
  flex-grow: 1;
  margin-right: 24px;
}

.logo {
  display: flex;
  align-items: center;
  width: 180px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  height: 100%;
}

.navLink {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  transition: opacity .3s;

  &:hover {
    opacity: .7;
  }
}

.cartBlock {
  display: flex;
  margin: 0 16px 0 32px;
  column-gap: 16px;
}
