.pageTitle {
  margin-bottom: 0 !important;

  @media screen and (max-width: 767px) {
    font-size: 24px !important;
  }
}

.nfts {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px;
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.generalInfo {
  background: var(--ant-gray);
  border-radius: var(--border-radius-base);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 16px;
  gap: 16px;
  margin-bottom: 32px;

  @media screen and (max-width: 767px) {
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.generalInfoFull {
  grid-template-columns: repeat(7, 1fr);
}

.generalInfoBlock {
  padding: 8px;
  border-radius: var(--border-radius-base);
  background: #242a30;
  border: 1px solid #3e4854;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.generalInfoText {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.generalInfoEditBtnWrapper {
  display: flex;
  grid-column: 1 / -1;
  justify-content: flex-end;
}

.nftsListContainer {
  background: var(--ant-gray);
  border-radius: var(--border-radius-base);
  padding: 16px;
}

.generalInfoTitle,
.nftsListTitle {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.nftsList {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

.nftCart {
  border: 1px solid #303030;
}
