.linkCell {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.alignLeft {
  justify-content: end;
}

.titleCellWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pnftBadge {
    height: 33px;
    border: 0;
  }
}

.titleCellContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleCellImg {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.coloredTextCellGreen {
  color: var(--green-color);
}

.coloredTextCellRed {
  color: var(--red-color);
}

.priceCell {
  span {
    font-size: 14px;
  }

  svg {
    width: 18px;
    margin: 0;
  }
}
