.h2 {
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 24px;

  @media screen and (min-width: 1025px) {
    justify-content: center;
  }
}

.poolButtonWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.sortButtonWrapper {
  display: flex;
  flex-grow: 100;
  justify-content: end;
}
