.card {
  display: flex;
  height: 62px;
  border: var(--border-base);
  border-radius: var(--border-radius-small);
  background-color: var(--component-base-background);
  overflow: hidden;
}

.cardImage {
  display: block;
  height: 100%;
  margin-right: 8px;
  object-fit: cover;
}

.cardContent {
  flex-grow: 1;
  padding: 8px 0;
  overflow: hidden;
}

.cardTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0 !important;
  text-align: left;
}

.cardPrice {
  font-size: 14px;
  line-height: 22px;

  svg {
    width: 16px;
  }
}

.deleteButton {
  margin: 0 16px;
}

.cartSection {
  width: calc(var(--cart-sider-width) - 64px);

  @media screen and (max-width: 1024px) {
    width: calc(100% - 16px);
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  h4 {
    font-family: var(--font-family-rubik);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
  }
}

.cartTitle {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.trashButton {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.invalidCartTitleWrapper {
  margin-bottom: 16px;

  .cartHeader {
    margin-bottom: 8px;
  }
}

.clearButton {
  padding: 4px 24px;
  border: var(--border-base);
  border-radius: var(--border-radius-base);
}

.cartItemsInvalid {
  opacity: .6;
}
