.card {
  display: flex;
  height: 62px;
  border: var(--border-base);
  border-radius: var(--border-radius-small);
  background-color: var(--component-base-background);
  overflow: hidden;
  position: relative;
}

.cardImage {
  display: block;
  height: 100%;
  margin-right: 8px;
  object-fit: cover;
}

.cardContent {
  flex-grow: 1;
  padding: 8px 0;
  overflow: hidden;
}

.cardTitle {
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.cardPrice {
  height: 16px;

  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  }

  svg {
    width: 16px;
  }
}

.deleteButton {
  margin: 0 16px;
}

.cartSection {
  width: calc(var(--cart-sider-width) - 64px);
  margin-bottom: 32px;

  @media screen and (max-width: 1024px) {
    width: calc(100% - 16px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.cartHeader {
  margin-bottom: 16px;
}

.cartHeaderTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin-bottom: 8px;

  h4 {
    font-family: var(--font-family-rubik);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }
}

.cartHeaderPrice {
  display: flex;
  justify-content: flex-end;
  height: 17px;

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }
}

.trashAllButton {
  display: flex;
  align-items: center;
  margin-left: 4px;
  transition: var(--button-transition);

  &:hover {
    opacity: var(--button-hover-opacity);
  }
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.invalidCartTitleWrapper {
  margin-bottom: 16px;

  .cartHeader {
    margin-bottom: 8px;
  }
}

.clearButton {
  padding: 4px 24px;
  border: var(--border-base);
  border-radius: var(--border-radius-base);
}

.cartItemsInvalid {
  opacity: 0.6;
}

.rarityWrapper {
  top: 0;
  left: unset !important;
  right: 55px;
  height: 20px;
}

button.xmintBtn {
  height: 40px;
  padding: 8px 10px;
  border-radius: var(--border-radius-base);
  border: 1px solid;
  border-color: var(--blue-color);
  background-color: var(--transparent-color);

  span {
    display: none;
  }

  &::after {
    content: "swap by credit card";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--font-family-rubik);
    color: var(--blue-color);
  }

  &:hover {
    background: var(--button-hover-outline);
  }
}

.exchangeButtonSpinner {
  span {
    font-size: 18px !important;
  }
}

.tokenExchangeLoadingModal {
  .title {
    margin: 16px 0 24px;
    text-align: center;
    font-size: 21px;
  }

  .card {
    height: auto;
    padding: 12px;
    align-items: center;
  }

  .cardImage {
    height: 48px;
  }

  .cardTextWrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    font-size: 18px;
  }

  .solanaLogo {
    width: 48px;
    height: 48px;
  }
}
