.sortingHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }

  div {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}

.sortingBody {
  font-weight: 500;
  text-align: center;
}

.sortTitle {
  display: flex;
  justify-content: center;
}

.sortButtonsWrapper {
  display: flex;
  margin: 8px 0 16px;
}

.sortButton {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: var(--border-base);
  border-radius: 0 20px 20px 0;

  &.active {
    border-color: var(--primary-color);

    .arrowIcon path {
      fill: var(--primary-color);
    }
  }
}

.arrowIcon {
  width: 15px;
  height: 15px;
  transform: rotate(90deg);

  path {
    fill: var(--primary-white-color);
  }
}

.leftSortBtn {
  transform: rotateY(180deg);
  border-left: 0;

  &.active {
    border-left: 1px solid var(--primary-color);
  }

  svg {
    transform: rotate(-90deg);
  }
}

.sortingBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 40px;
  margin-left: 10px;
  padding: 0 16px;
  border: var(--border-base);
  border-radius: 20px;
  background: var(--primary-background-color);
  color: var(--primary-white-color);
}