.sortingHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }

  div {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}

.sortingBody {
  font-weight: 500;
  text-align: center;
}

.sortTitle {
  display: flex;
  justify-content: center;
  margin: 16px 0 8px;
}

.arrowIcon {
  width: 15px;
  height: 15px;
  transform: rotate(90deg);

  path {
    fill: var(--primary-white-color);
  }
}

.arrowIconLeft {
  transform: rotate(-90deg);
}

.sortingBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 40px;
  margin-left: 10px;
  padding: 0 16px;
  border: var(--border-base);
  border-radius: 20px;
  background: var(--component-base-background);
  color: var(--primary-white-color);
}
