.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid var(--primary-white-color);
  background: var(--component-secondary-background);

  svg {
    width: 32px;
    height: 32px;
  }

  @media (max-width: 1080px) {
    width: 40px;
    height: 40px;
  }
}