.card {
  position: relative;
  overflow: hidden;
  border: var(--border-base);
  border-radius: 16px;
  background: var(--component-base-background);

  &:hover {
    .cardImageHover {
      top: 0;
    }
  }
}

.wholeAreaSelect {
  cursor: pointer;
}

.cardSelected {
  border-color: var(--blue-color);
}

.cardDisabled {
  pointer-events: none;
  opacity: 0.6;
}

.cardImageWrapper {
  position: relative;
  overflow: hidden;
}

.deleteButton {
  position: absolute;
  top: 8px;
  right: 8px;
}

.cardImageHover {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: rgba(10, 14, 17, 0.7);
  transition: top var(--ease-base-out) var(--animation-duration-slow);
  z-index: 2;
}

.cardButton {
  height: 32px;

  span {
    margin-left: 10px;
    font-size: 14px;
  }
}

.cardImage {
  width: 100%;
  display: block;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
}

.cardTitle {
  font-family: var(--font-family-rubik);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardPrice {
  margin-top: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  svg {
    width: 16px;
  }
}

.rarityWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 8px;
  gap: 4px;
}

.rarityValue {
  border-radius: 100px;
  padding: 4px 6px;
  background: #0f1720;
  color: #e3e2e5;
  font: 400 10px var(--font-family-montserrat);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    width: 12px;
    height: 12px;
    fill: #e3e2e5;
  }
}
