@import './abstracts/fonts.scss';
@import './abstracts/variables.scss';

:global {
  a {
    &,
    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }

  * {
    font-family: var(--font-family-montserrat);
    color: var(--primary-white-color);
  }

  input {
    padding: 0;
    border: 0;
    outline: 0;
  }

  button {
    padding: 0;
    border: 0;
    background-color: var(--transparent-color);
    cursor: pointer;
  }

  h1, h2, h3, h4, h5, p {
    margin: 0;
    color: unset;
  }
}
