.headerWrapper {
  position: relative;
  padding: 56px 0 32px;

  @media (max-width: 1024px) {
    padding: 32px 0 22px;
  }
}

.cart {
  display: flex;
  height: 50px;
  padding: 8px;
  border: var(--border-base);
  border-radius: 16px;
  background: var(--component-secondary-background);
}

.coverImageContainer {
  position: absolute;
  top: 0;
  left: calc(0px - var(--body-offset-desktop));
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.coverImage {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.coverImageDecorator {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #0a0e11 0%, rgba(10, 14, 17, 0.8) 100%);
}

.headerMain {
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.imageHolder {
  width: 210px;
  height: 210px;
  margin-right: 24px;
  border-radius: var(--border-radius-base);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;

  @media (max-width: 1024px) {
    height: 80px;
    width: 80px;
    margin: 0;
    border-radius: var(--border-radius-small);
  }
}

.collectionInfo {
  @media (max-width: 1024px) {
    position: relative;
    margin-top: 16px;
  }
}

.collectionTitle {
  font-family: var(--font-family-rubik);
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;

  @media (max-width: 1024px) {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
  }
}

.tokensSelectorWrapper {
  display: inline-flex;
  height: auto;
  margin: 16px 0;
  padding: 0;

  @media (max-width: 1024px) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .tokensSelectorInner {
    display: flex;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--component-secondary-background);
  }

  .button {
    svg {
      transition: all .5s;
    }
  }

  .activeButton {
    svg {
      transform: rotateX(-180deg);
    }
  }

  .dPdMenuWrapper {
    position: relative;
    width: 100%;
  }

  .dPdMenu {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 109%;
    left: 0;
    width: 100%;
    max-height: 0;
    transition: all .2s;
  }

  .dPdMenuInner {
    display: flex;
    flex-direction: column;
    height: 270px;
    padding-top: 12px;
    border: var(--border-base);
    border-radius: 16px;
    background-color: var(--component-base-background);
  }

  .searchBlock {
    padding-inline: 12px;
  }

  .dPdMenuActive {
    max-height: 270px;
  }

  .listHeader {
    margin: 16px 0 12px;
    padding-inline: 12px;
  }

  .listTitle {
    font-weight: 600;
    color: var(--dark-grey-color)
  }

  .listItemsWrapper {
    position: relative;
    top: -12px;
    overflow-y: scroll;
    margin-right: -30px;
  }

  .listItem {
    display: flex;
    align-items: center;
    height: 40px;
    padding-inline: 12px;
    transition: background-color .2s;
    cursor: pointer;

    &:hover {
      background-color: var(--border-color-base);
    }
  }

  .listImage {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  .solanaIcon {
    width: 40px;
    height: 40px;

    @media (max-width: 1024px) {
      width: 38px;
      height: 38px;
    }
  }

  .textWrapper {
    margin: 0 16px 0 8px;
  }

  .selectorTitle {
    font-family: var(--font-family-rubik);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  }

  .selectorSubtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }
}

.collectionDescriptionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 16px;
  }
}

.collectionDescription {
  max-width: 464px;
  margin-right: 32px;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (max-width: 767px) {
    max-width: 343px;
    margin: 0;
  }
}

.collectionDescriptionSocial {
  display: flex;
  gap: 16px;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 34px;
  transition: var(--button-transition);

  &:hover {
    opacity: var(--button-hover-opacity);
  }
}

.collectionSubscribe {
  cursor: pointer;
}

.collectionSubscribeInner {
  display: flex;
  align-items: center;
  padding: 8px;
  transition: var(--button-transition);

  &:hover {
    opacity: var(--button-hover-opacity);
  }

  svg {
    margin-right: 8px;
  }

  span {
    font-family: var(--font-family-rubik);
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
  }
}

.collectionStatWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 16px;
}

.collectionStatItem {
  flex-direction: column;
  flex-grow: 1;
  height: 80px;
  min-width: 140px;
  padding: 16px;

  @media (max-width: 1024px) {
    height: 60px;
    padding: 12px;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.collectionStatTitle {
  font-family: var(--font-family-rubik);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--dark-grey-color);

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}

.collectionStatValue {
  margin-top: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 32px;

  @media (max-width: 1024px) {
    margin-top: 16px;
  }
}

.limitOrder {
  padding: 8px 27px;
}
