.nftList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
  gap: 16px;
  max-height: 300px;
  overflow-y: scroll;
  padding-top: 10px;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.btn {
  margin-top: 18px;
  width: 100%;
}

.cardWrapper {
  margin-bottom: 32px;

  &::before {
    content: '';
    display: block;
    height: 1px;
    width: calc(100% + 48px);
    background-color: var(--border-color-base);
    margin-left: -24px;
  }
}

.cardLabel {
  font-family: var(--font-family-rubik);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  padding: 16px 0 8px;
}

.priceBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.priceDifference {
  .text {
    font-family: var(--font-family-rubik);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--dark-grey-color) !important;

    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }

  .value {
    font-family: var(--font-family-montserrat);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }
}

.solLogo {
  width: 18px;
  height: 18px;

  @media (max-width: 1024px) {
    width: 12px;
    height: 12px;
  }
}

.notifyBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 18px;
}

.notifyItem {
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    min-width: 14px;
    max-width: 14px;
    height: 14px;
  }

  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  }
}
