.cardWrapper {
  width: 100%;
  padding: 16px;
  border: var(--border-base);
  border-radius: 20px;
  background: var(--component-base-background);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  .pnftBadge {
    border: 0;
  }
}

.headerTitleBlock {
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}

.cardBody {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.listItem {
  font-weight: 400;
}

.listItemTitle {
  font-weight: 700;
  color: var(--inactive-color);
}
